<!--
  Copyright 2011 Google Inc.
  Copyright 2011 Isabelle Dalmasso.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ietf.ietfsched"
    android:versionCode="59"
    android:versionName="0.1.59"
    android:installLocation="auto">
    <permission
        android:name="org.ietf.ietfsched.permission.WRITE_SCHEDULE"
        android:protectionLevel="normal"
        android:label="@string/permission_write"
        android:description="@string/permission_write" />

    <!-- Perhaps 'use_credentials' is not necessary, and not possible/real anymore.
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->
	<uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="IETF 116"
        android:theme="@style/Theme.IOSched">
        <!-- Required addition for APIv28/android 9.0 -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name="org.ietf.ietfsched.ui.HomeActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.ietf.ietfsched.ui.StarredActivity"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:label="@string/title_starred" />
			
        <activity
            android:name="org.ietf.ietfsched.ui.WellNoteActivity"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:label="@string/title_well_note" />
			
        <!-- Phone-only activities -->

        <activity
            android:name="org.ietf.ietfsched.ui.phone.ScheduleActivity"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:label="@string/title_schedule" />

        <activity
            android:name="org.ietf.ietfsched.ui.phone.TracksActivity"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:label="@string/title_tracks">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.ietfsched.track" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.ietf.ietfsched.ui.phone.SessionsActivity"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:label="@string/title_sessions">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.ietfsched.session" />
            </intent-filter>
        </activity>

        <activity android:name="org.ietf.ietfsched.ui.phone.SessionDetailActivity"
            android:hardwareAccelerated="false"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.ietfsched.session" />
            </intent-filter>
        </activity>

        <!-- Other manifest items -->

        <service android:name="org.ietf.ietfsched.service.SyncService" />

        <provider
            android:name="org.ietf.ietfsched.provider.ScheduleProvider"
            android:authorities="org.ietf.ietfsched"
            android:writePermission="org.ietf.ietfsched.permission.WRITE_SCHEDULE" />

    </application>
</manifest>
